

<tr  id="2fsauth">
             <input type="hidden" id="encryptText" name="encryptText" value="q80able7nlfVrZUCL56WBeBpOI00SojnpVbNHXHVhZ8=" />
	<input type="hidden" id="phone_check" name="phone_check" value="0" />
	 <input type="hidden" id="pwToEncrypt" name="pwToEncrypt" value="" />
             <input type="hidden" id="certidx" 	  name="certidx"     value="11" />

    <td style="text-align:right;"><strong>OTP인증번호</strong></td>
    <td style="text-align:left;">
<input type="text" name="auth_key" id="auth_key"       title="인증번호" value="" class="id" onKeyDown="chkEnter3(event);"/>
<!--
    <span class="pl05 pr05"><img src="http://swork.lguplus.co.kr/images/bt/smsSend.png" alt="SMS 전송" onclick="phoneCertification(); return false;" style="cursor: pointer;"/> -->
    </span>
<div class="loginWrap">
</div>
    </td>
</tr>
<!--
<tr id=2fsstart>
    <td style="text-align:right;"><strong>2fs인증엡</strong></td>
     <td style="text-align:left;"> <div class="clearfix">
                        <label>QR Code</label>
                        <div class="input"><img id="qrImg" src="http://chart.googleapis.com/chart?chs=200x200&cht=qr&chl=200x200&chld=M|0&cht=qr&chl=otpauth://totp/partner_test2.co.kr%3Fsecret%3DJBSWY3DPEHPK3PXP" /></div>
                    </div> 
     </td>
</tr>
-->


