<h2>auth2fs</h2>

000000000000
1111111111
<% @auth2fses.each do |auth2fs| %>
  <p>
  <%= @auth2fs.login %>
<%#= @auth2fses %>
<!--
= link_to 'Yes', { :action => 'vote', :id => poll[:id], :answer => 'yes' }, :method => :post  (= poll.yes ) /
= link_to 'No', { :action => 'vote', :id => poll[:id], :answer => 'no' }, :method => :post  (= poll.no )
-->
  </p>
<% end %>



